
dl dt{
  width: 50%;
  padding:5px 0;
  float:left;
  clear:both;
}

dl dd{
  padding:5px 0;
  text-align: right;
}

.inl {
  display:inline;
}

#result{
  border-radius: 10px;
}

html{
  font-family: 'Helvetica', 'MS Pゴシック','MS PGothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

input[type='number'] {
  background-color: #efefef;
  outline: none;
  border: 0;
  border-style: solid;
  border-color: #E3E7EA;
  border-width: 0px 0px 2px 0px;
  transition: border-color 0.5s, background-color 0.5s
}
input[type='number']:focus {
  background-color: #efffef;
  border-color: #b2ff59;
}

input[type='number']:hover {
  background-color: #efffff;
  border-color: #b2ffff;
}

input[type='number']:disabled {
  background-color: #808080;
  border-color: #808080;
}
